%code
	:escaped
		<div style="background:black url('#{root_url}images/bg.jpg');padding:20px 0 20px 0;text-align:center">
			<div style="margin:0 auto;width:425px">
				<fb:swf swfsrc="http://player.soundcloud.com/player.swf?url=#{SETTINGS["track"]}#{SETTINGS["player"]["params"]}&player_type=#{SETTINGS["player"]["type"]}&auto_play=true" imgsrc="#{root_url}images/preview.jpg" height="425" width="425" quality="best" />
			</div>
		</div>